#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="/salvar">
  <input type="hidden" name="grupo" value=${grupo} />

  <div class="col-md-6">
    <label for="inputname" class="form-label">Nome:</label>
    <input type="text" name="nome" class="form-control" id="inputname">
  </div>

  <div class="col-6">
    <label for="inputAddress" class="form-label">Descrição</label>
    <input type="text" name = "descricao"class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

  <div class="col-6">
    <label for="inputnumero2" class="form-label">Número</label>
    <input type="number" name = "numero"class="form-control" id="inputnumero2">
  </div>

  <div class="col-md-6">
    <select class="form-select" id="floatingSelect" name="tipo" aria-label="Floating label select example">
      <option selected>Selecione</option>
      <option value="1">PI</option>
      <option value="2">BD</option>
      <option value="3">AW</option>
    </select>
  </div>

  <div class="col-md-4">

    <div class="form-check">
      <label for="inputnumero2" class="form-label">Opções</label>
  <input class="form-check-input" type="checkbox" value="" name="opcoes" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Opção 1
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" name="opcoes"id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
   Opção 2
  </label>
</div>
  
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar</button>

  </div>
</form>