#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="/salvar">
  <input type="hidden" name="grupo" value=${grupo} />
  <div class="col-md-6">
    <label for="inputgrupo4" class="form-label">grupo</label>
    <input type="grupo" class="form-control" id="inputgrupo4">
  </div>
  <div class="col-md-6">
    <label for="inputnome4" class="form-label">nome</label>
    <input type="nome" class="form-control" id="inputnome4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">descricao</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputnumero2" class="form-label">numero</label>
    <input type="text" class="form-control" id="inputnumero2">
  </div>
  <div class="col-md-6">
    <label for="inputtipo" class="form-label">tipo</label>
    <input type="text" class="form-control" id="inputtipo">
  </div>
  <div class="col-md-4">
    <label for="inputopcoes" class="form-label">opções</label>
    <select id="inputopcoe" class="form-select">
      <option selected>Selecione...</option>
      <option>projeto integrador</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputdata" class="form-label">data</label>
    <input type="text" class="form-control" id="inputdata">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar</button>

  </div>
</form>