<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>



    <form>
        <input type="hidden" name="grupo" value=${grupo} />

        <div class="col-md-6">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputNome">
        </div>

        <br></br>


        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="text" class="form-control" id="inputNome">
        </div>

        <br></br>

        <div class="col-12">
            <label for="inputMatricula" class="form-label">Matricula</label>
            <input type="number" class="form-control" id="inputMat">
        </div>

        <br></br>

        <div class="col-md-6">
            <label for="inputEndereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="inputEndereco">
        </div>

        <br></br>

        <div class="col-md-4">
            <label for="inputState" class="form-label">Etnia</label>
            <select id="inputState" class="form-select">
                <option selected>--SELECIONE--</option>
                <option>Preto</option>
                <option>Pardo</option>
                <option>Amarelo</option>
                <option>Branco</option>

            </select>
        </div>

 

        <br></br>


        <div class="col-md-4">
            <label for="inputState" class="form-label">Sexo</label>
            <select id="inputState" class="form-select">
                <option selected>--SELECIONE--</option>
                <option>Preto</option>
                <option>Pardo</option>
             

            </select>
        </div>

        <div class="col-md-6">
            <label for="inputDataMat" class="form-label">Data de ingresso</label>
            <input type="date" class="form-control" id="InputData">
        </div>

        

        <br></br>

        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
            
                </label>
            </div>

            <br></br>

        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>

        </div>

        <br></br>

    </form>







</body>

</html>