#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo ${grupo}
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form>
	<input type="hidden" name="grupo" value=${grupo} />
</form>

<!-- <script>
    function imprimirDados() {
      var nome = document.getElementById("nome").value;
      var numero = document.getElementById("numero").value;
      var dataNascimento = document.getElementById("dataNascimento").value;
	  var grupo = document.getElementById("grupo").value;
	  var descricao = document.getElementById("descricao").value;
	  var tipo = document.querySelector('input[name="sangue"]:checked').value;
      var genero = document.querySelector('input[name="genero"]:checked').value;

      var dados = "Seus dados foram cadastrados." + "\nNome: " + nome + "\nNúmero: " + numero + "\nData de Nascimento: " + dataNascimento + "\nGênero: " + genero + "\nGrupo: " + grupo + "\nDescricao: "+ descricao + "\nTipo: "+ tipo;

      alert(dados);
    }
  </script> -->

  <h1>Cadastro</h1>

  <form action="/salvar">
	<input type="hidden" name="grupo" value=${grupo} />

	<p>
		<label for="nome">Nome:</label>
		<input type="text" name="nome" id="nome"/>
	</p>

	<p>
		<label for="descricao">Descricao de curso:</label>
		<input type="text" name="descricao" id="descricao"/>
	</p>

	<p>
		<label for="numero">Número:</label>
		<input type="number" name="numero" id="numero"/>
	</p>

	<p>
		<label for="tipo">Tipo sanguíneo:</label>
		<select name="tipo" id="sangue">
			<option>A</option>
			<option>B</option>
			<option>AB</option>
			<option>O</option>
		</select>
	</p>

	<p>
		<label for="opcao">Opções de gênero:</label>
		<input type="checkbox" id="opcao" autocomplete="off">
        <label for="opcao">--Selecionar--</label>

		<input type="checkbox" id="opcao" autocomplete="off">
        <label for="opcao">Homem</label>

        <input type="checkbox" id="opcao" autocomplete="off">
		<label for="opcao">Mulher</label>

        <input type="checkbox" id="opcao" autocomplete="off">
        <label for="opcao">Outro</label>	
	</p>

	<p>
		<label for="">Selecione suaa data de nascimento:</label>
		<input type="date" name="data" id="data"required/> 
	</p>

	<input type="submit" value="Enviar">
</form>

<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


 -->