#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<p class="lead mt-4" style="text-align: center;">
	Formulário do grupo g08
</p>


<p style="text-align: center;">
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="/salvar" style="display: flex; justify-content: center; align-items: center;">

	<div id="principal" style=" width: 50%;">
		<input type="hidden" name="grupo" value=${grupo} />
		<div class="form-row">
			<div class="form-group col-md-12">
			  <label for="input1">Nome</label>
			  <input type="text" class="form-control" id="input1" name="nome" placeholder="Digite seu nome:">
			</div>
		  </div>
		  <div class="form-group">
			<label for="input2">Descrição</label>
			<input type="text" class="form-control" id="input2" name="descricao" placeholder="Informe uma descrição">
		  </div>
		  <div class="form-group">
			<label for="input3">Número</label>
			<input type="number" class="form-control" id="input3" name="numero" placeholder="informe o Número">
		  </div>
		  <div class="form-row">
			<div class="form-group col-md-12">
			  <label for="input4">Curso</label>
			  <select id="input4" class="form-control" name="tipo">
				<option value="nulo"  >Selecione</option>
				<option value="INFO" >informatica</option>
				<option value="ELETRO" >Eletrotecnica</option>
				<option value="ADM" >Administração</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<div class="form-group col-md-12">
				<label>Matérias favoritas</label> <br>
				<input type="checkbox" name="opcoes" value="portugues">Português
				<input type="checkbox" name="opcoes" value="matematica">Matemática <br>
				<input type="checkbox" name="opcoes" value="historia">Historia
				<input type="checkbox" name="opcoes"  value="geografia">geografia <br>
				<input type="checkbox" name="opcoes" value="Sociologia">Sociologia
				<input type="checkbox" name="opcoes" value="biologia">Biologia
		
			</div>
		  </div>
		  <div class="form-row">
			<div class="form-group col-md-12">
			  <label for="input5">Data de Nascimento</label>
			  <input type="text" class="form-control" id="input5" name="data" placeholder="Digite a data:">
			</div>
		  </div>
		  <button type="submit" class="btn btn-primary">Entrar</button>
		  <button type="reset" class="btn btn-primary">Limpar</button>
		
	</div>

</form>