

<p class="lead mt-4">
	Formulário do grupo g09
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="/salvar">
	<input type="hidden" name="grupo" value=${grupo} />
	<h3>Cadastre-se</h3>

	<!--modificação g09-->

        <label for="name">Nome:</label>    
        <input type="text" name="nome" required/>
      
        <label for="email">E-mail:</label>
		<input type="email" name="descricao" required />

        <label for="password">Senha:</label>
		<input type="password" name="numero" required/>

        <label for="sexo">Sexo:</label>
        <select id="sexo" name="tipo" required>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="outro">Outro</option>
        </select>

            <button type="submit">Cadastrar</button>
</form>
