#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}


<!-- <!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> -->
<form action="/salvar" class="row g-3">
    <input type="hidden" name="grupo" value=${grupo} />

    <div class="mb-3">
        <label for="inputnome" class="form-label">Nome Completo</label>
        <input type="text" name="nome" class="form-control" id="inputnome">
    </div>
    <br> </br>
    <div class="mb-3">
        <label for="inputendereço" class="form-label">Endereço</label>
        <input type="text" name="descricao" id="inputendereço" class="form-control">
    </div>

    <br> </br>

    <div class="mb-3">
        <label for="inputMatricula" class="form-label">Matricula</label>
        <input type="number" name="numero" id="Numtext" class="form-control">
    </div>

    <br> </br>
    <div class="mb-3">
        <label for="inputemail" class="form-label">Email</label>
        <input type="text" name="descricao" id="inputemail" class="form-control">
    </div>
    <br> </br>

    <div class="mb-3">
        <label for="inputState" class="form-label">Raça</label>
        <select id="inputState" class="form-select" name="opcoes" class="form-control">
            <option select>--SELECIONE--</option>
            <option>Preto</option>
            <option>Pardo</option>
            <option>Amarelo</option>
            <option>Branco</option>
        </select>
    </div>
    <br> </br>

    <div class="form-group form-check" style="margin-left: 18px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="opcoes" value="1ºE.M">
        <label class="form-check-label" for="exampleCheck1">INGLÊS</label>

    </div>

    <div class="form-group form-check" style="margin-left: 18px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="opcoes" value="2ºE.M">
        <label class="form-check-label" for="exampleCheck1">ESPANHOL</label>

    </div>

    <div class="form-group form-check" style="margin-left: 18px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="opcoes" value="3ºE.M">
        <label class="form-check-label" for="exampleCheck1">PORTUGUÊS</label>

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>

<!-- </body>

</html>
</body>

</html> -->