#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo 11
</p>


<p>
	<small>Formulário de consulta nutricional:</small>
</p>

<form action="http://10.97.3.38:9000/salvar">

	<input type="hidden" name="grupo" value=${grupo} />
    <label for="nome" class="form-label" required>Nome:</label>
    <input type="text" name="paciente"/>
    <label for="descricao" class="form-label">Descrição:</label>
    <input type="text" name="descricao"/>
    <label for="numero" class="form-label">Ordem de chegada:</label>
    <input type="number" name="numero"/>
    
    <select class="form-select" aria-label="Default select example">
        <option selected>Selecione o peso:</option>
        <option value="1">Magro</option>
        <option value="2">Normal</option>
        <option value="3">Sobrepeso</option>
        <option value="4">Obeso</option>
      </select>

      <div class="form-check">
        <label for="tipo" class="form-label">Tipo de problema:</label>
      </br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Anemia
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
         Obesidade
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
        Desnutrição
        </label>
      </div>

    <input type = "date" name="data" required/>
    <input type="submit" name="Enviar"/>

</form>