#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<p class="lead mt-4">
	Formulário do grupo 11
</p>

<!-- Grupo composto por: Darlane Ribeiro, Alanna Fernandes, Raquel Souza e João Arthur-->

<p>
	<h1>Consulta nutricional:</h1>
  <small>Informe seus dados abaixo:</small>
</p>

<title>Consulta Nutricional - Grupo 11</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form action="http://10.97.3.38:9000/salvar">

	<input type="hidden" name="grupo" value=${grupo} />
    <label for="nome" class="form-label" >Nome:</label>
    <input type="text" name="nome" required/>
    <label for="descricao" class="form-label">Descrição:</label>
    <input type="text" name="descricao"/>
    <label for="numero" class="form-label">Ordem de chegada:</label>
    <input type="number" name="numero"/>
 
    <select class="form-select" aria-label="Default select example"  name = "tipo">
        <option selected>Selecione o peso:</option>
        <option value="Magro">Magro</option>
        <option value="Normal">Normal</option>
        <option value="Sobrepeso">Sobrepeso</option>
        <option value="Obeso">Obeso</option>
      </select>

      <div  name = "opcoes" class="form-check">
        <label for="opcoes" class="form-label">Tipo de problema:</label>
        <br>
        <input class="form-check-input" type="checkbox" value=" Anemia" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Anemia
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Obesidade" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked"  name = "opcoes">
         Obesidade
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Desnutrição" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked"  name = "opcoes">
        Desnutrição
        </label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Diabetes" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked"  name = "opcoes">
           Diabetes
          </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Hipertensão Arterial" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked"  name = "opcoes">
             Hipertensão Arterial
            </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Intolerância Alimentar" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked"  name = "opcoes">
         Intolerância Alimentar
        </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Bulimia" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked"  name = "opcoes">
           Bulimia
          </label>
          </div>

    <input type = "date" name="data" required/>
    <input type="submit" name="Enviar"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</form>