#{extends 'main.html' /}
#{set title:'Formulário de Cadastro' /}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<form action="/Salvar">
    
    <input type="hidden" id="grupo" name="grupo" value=${grupo}>

    
    <div class="form-group">
    <label for="exampleFormControlInput1">Nome</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>

    
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Descrição</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Inoforme sua idade</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>Entre 10 e 30</option>
          <option>Entre 30 e 50</option>
          <option>Entre 50 e 100</option>
        </select>
      </div>

    <label for="tipo">Tipo:</label>
    <select class="form-control">
    <option>Magro</option>
    <option>Normal</option>
    <option>Sobrepeso</option>
    <option>Obeso</option>
    </select>

    
    <label>Possui aluma dessas doenças:</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="opcao1">
        <label class="form-check-label" for="inlineCheckbox1">Problemas cardíacos</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="opcao2">
        <label class="form-check-label" for="inlineCheckbox2">Diabetes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="opcao3">
        <label class="form-check-label" for="inlineCheckbox3">Anemia</label>
    </div>

    
    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required>

    
    <button type="button" onclick="submitForm()">Enviar</button>
</form>

<script>
    function submitForm() {
         
        alert ("Parabéns, formulário respondido com sucesso!");

        var formData = new FormData(document.getElementById('cadastroForm'));


        for (var pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }
    }
</script>

</body>
</html>
